[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M

[ndb_mgmd]
NodeId=1
#hostname=mysql-manager-1
hostname=198.168.0.2
datadir=/var/lib/mysql

[ndb_mgmd]
NodeId=2
#hostname=mysql-manager-2
hostname=198.168.0.3
datadir=/var/lib/mysql

[ndbd]
NodeId=11
hostname=198.168.0.4
#hostname=mysql-manager-2
datadir=/var/lib/mysql

[ndbd]
NodeId=12
#hostname=data-node-2
hostname=198.168.0.5
datadir=/var/lib/mysql

[mysqld]
NodeId=21
hostname=198.168.0.9
#hostname=mysql-server-1

[mysqld]
NodeId=22
hostname=198.168.0.10
#hostname=mysql-server-2
